// font-family: "Golos Text", sans-serif;
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pool-soon {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  right: 10%;
  z-index: 9999;
  font-family: "Rubik", sans-serif;

  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s, transform 1s;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  * {
    box-sizing: border-box;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none !important;
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      background: linear-gradient(180deg, #48befc 0%, #4269f4 100%);
      box-shadow: 0px 4px 23px 5px rgba(15, 29, 52, 0.24);
      border-radius: 50%;
      z-index: 0;
      transition: all 0.4s;
    }
    &:hover,
    &:active,
    &:focus {
      &::before {
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -12px;
        background: linear-gradient(180deg, #7cd2ff 0%, #597bf3 100%);
        box-shadow: 0px 4px 23px 5px rgba(15, 29, 52, 0.24);
      }
    }
  }

  &__details {
    position: relative;
    border: 2px solid #87e2ff;
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  &__title {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 12px;
  }
  &__icon {
    display: block;
    min-width: 22px;
    width: 100%;
  }

  &__close-btn {
    border-radius: 50%;
    border: none;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 22;
    background-color: #d9d9d9;
    cursor: pointer;
    transition: all 0.3s;
    svg {
      pointer-events: none;
      path {
        transition: all 0.6s;
      }
    }
    &:hover,
    &:active,
    &:focus {
      background-color: #ffffff;

      svg {
        path {
          fill: #000000;
        }
      }
    }
  }
}

// Промо страница
.pool-promo {
  width: 100vw;
  height: 100vh;
  background-color: #2f6176;
  color: #ffffff;
  font-family: "Rubik", sans-serif;

  .wrapper {
    padding: 150px 76px 138px;
  }
  &__logo {
    max-width: 240px;
    margin-bottom: 90px;
    img {
      display: block;
      width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.23;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 31px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 73px;
    font-family: "Rubik", sans-serif;
  }
  &__links {
    display: grid;
    gap: 91px;
    grid-template-columns: 1fr 1fr;

    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 73px;
  }
  &__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none !important;
    display: grid;
    gap: 12px;
    align-items: center;
    grid-template-columns: 34px auto;
    text-align: left;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    margin: 0 auto;
    background: #2aabee;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    height: 52px;
    box-sizing: border-box;
    text-decoration: none !important;
    padding: 14px 20px;
  }
}
