@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.pool-soon {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  right: 10%;
  z-index: 9999;
  font-family: "Rubik", sans-serif;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s, transform 1s;
}
.pool-soon.show {
  opacity: 1;
  transform: translateY(0);
}
.pool-soon * {
  box-sizing: border-box;
}
.pool-soon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none !important;
  position: relative;
  z-index: 2;
}
.pool-soon__link::before {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: linear-gradient(180deg, #48befc 0%, #4269f4 100%);
  box-shadow: 0px 4px 23px 5px rgba(15, 29, 52, 0.24);
  border-radius: 50%;
  z-index: 0;
  transition: all 0.4s;
}
.pool-soon__link:hover::before, .pool-soon__link:active::before, .pool-soon__link:focus::before {
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  background: linear-gradient(180deg, #7cd2ff 0%, #597bf3 100%);
  box-shadow: 0px 4px 23px 5px rgba(15, 29, 52, 0.24);
}
.pool-soon__details {
  position: relative;
  border: 2px solid #87e2ff;
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.pool-soon__title {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
.pool-soon__icon {
  display: block;
  min-width: 22px;
  width: 100%;
}
.pool-soon__close-btn {
  border-radius: 50%;
  border: none;
  width: 41px;
  height: 41px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 22;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: all 0.3s;
}
.pool-soon__close-btn svg {
  pointer-events: none;
}
.pool-soon__close-btn svg path {
  transition: all 0.6s;
}
.pool-soon__close-btn:hover, .pool-soon__close-btn:active, .pool-soon__close-btn:focus {
  background-color: #ffffff;
}
.pool-soon__close-btn:hover svg path, .pool-soon__close-btn:active svg path, .pool-soon__close-btn:focus svg path {
  fill: #000000;
}